<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>New Post</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">
          Titre:
        </label>
        <input type="text" id="name" name="name" required ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="content">
         Message:
        </label>
        <input type="string" id="content" name="content" required ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
