<div class="container">
  <div class="row">
    <div class="col-xs-6 block">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post1  *ngFor="let posts of post; let i = index" [loveIts]="posts.loveIts" [postName]="posts.name" [postContent]="posts.content" [id]="posts.id"  [index]="i"></app-post1>
      </ul>
    </div>
  </div>
</div>
