<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a routerLink="/posts"><h4>Blog</h4></a></li>
      <li role="presentation"><a class="active" routerLink="/posts"><h4>Posts</h4></a></li>
      <li role="presentation"><a class="active" routerLink="/new"><h4>New</h4></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
