/* You can add global styles to this file, and also import other style files */
.row{
  display: flex;
  justify-content: center;
  margin: 2%;
}
.block{
  border: rgba(0, 0, 255, .2) 1px solid;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding: 0 4%;
  height: auto;
}
.blockPost{
  border: 1px solid grey;
  margin: 2%;
  padding: 2%;
  h4{
    font-weight: bold;

  }
  p{
    font-style: italic;
  }
}
.titleDate{
  display: flex;
  justify-content: space-between;
}
