<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0 }">
 <!-- <div class="glyphicon glyphicon-remove" (click)="onDelete(id)"></div>-->
  <div class="titleDate">
    <h4>{{ name }}</h4>
    <p>{{ lastUpdate | async | date: 'short' }}</p>
  </div>
  <p>{{ content }}</p>
  <button class="btn btn-success" (click)="love()">LOVE IT</button>
  <button class="btn btn-danger" (click)="nolove()">DON'T LOVE IT</button>
</li>
<a routerLink="/posts"  class="btn btn-default" >Retour</a>
