
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0 }">
  <div class="glyphicon glyphicon-remove" (click)="onDelete(id)"></div>
  <div class="titleDate">
    <h4>{{ postName }}</h4>
    <p>{{ lastUpdate | async | date: 'short' }}</p>
  </div>
    <p>{{ postContent }}</p>
    <button class="btn btn-success" (click)="love(index)">LOVE IT</button>
    <button class="btn btn-danger" (click)="nolove(index)">DON'T LOVE IT</button>
    <a [routerLink]="[id]" class="btn btn-default">Voir le post</a>
</li>
